<div class="vertical-menu" style="float:left">
  <a href="#" class="active" style="margin:10px"> <img src="../dog.svg" height="100" width="100" style="display:block; margin:auto"/></a>
  <a href="#" style="background:none; margin:5px"><img src="../dog.svg" height="50" width="50" style="display:block; margin:auto"/></a>
  <a href="#" style="background:none; margin:5px"><img src="../calendar.svg" height="50" width="50" style="display:block; margin:auto"/></a>
  <a href="#" style="background:none; margin:5px"><img src="../gift.svg" height="50" width="50" style="display:block; margin:auto"/></a>
</div>

<app-middle-panel>Loading...</app-middle-panel>


<!-- <nav class="menu" tabindex="0">
	<div class="smartphone-menu-trigger"></div>
  <header class="avatar">
		<img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" />

  </header>

	<ul>
    <li tabindex="0" class="icon-history"><span>Historia</span></li>
    <li tabindex="0" class="icon-cites"><span>Citas</span></li>
    <li tabindex="0" class="icon-shops"><span>Tienda</span></li>
  </ul>

</nav>

<main>
  <div class="helper">
    RESIZE THE WINDOW
		<span>Breakpoints on 900px and 400px</span>
  </div>
</main> -->
