<div class="fluid-container" style="float:left; margin:10px">
  <ul class="list-group">
    <li class="list-group-item">Nueva Cita</li>
    <li class="list-group-item">Corte de pelo</li>
    <li class="list-group-item">Vacune</li>
  </ul>
</div>
